.content-wrapper-element-one {
    display: flex;
    width: 900px;
    align-items: center;
    justify-content: space-evenly;
}

.content-wrapper-element-one .wrapper-element-texts .element-text-h3 h3 {
    font-size: 25px;
    font-weight: 400;
}

.content-wrapper-element-one .wrapper-element-texts .element-texts-paragraph {
    margin: 26px 0;
}

.content-wrapper-element-one .element-img {
    width: 100%;
}

.content-wrapper-element-one .element-img img {
    width: 400px;
}