/* WRAPPER ONE */
.content-section-two .content-wrapper-element-one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-section-two .content-wrapper-element-one .wrapper-element-texts .element-text-h3 h3 {
    font-size: 25px;
    font-weight: 400;
}

.content-section-two .content-wrapper-element-one .wrapper-element-texts .element-texts-paragraph {
    margin: 26px 0;
}

.content-section-two .content-wrapper-element-one .element-img {
    width: 100%;
}

.content-section-two .content-wrapper-element-one .element-img img {
    width: 400px;
}
/* END WRAPPER ONE */



/* WRAPPER TWO */

.content-section-two .content-wrapper-element-two {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.content-section-two .content-wrapper-element-two .element-img {
    width: 100%;
}

.content-section-two .content-wrapper-element-two .element-img img {
    width: 400px;
}

.content-section-two .content-wrapper-element-two .wrapper-element-texts .element-text-h3 h3 {
    font-size: 25px;
    font-weight: 400;
}

.content-section-two .content-wrapper-element-two .wrapper-element-texts .element-texts-paragraph {
    margin: 26px 0;
}


/* END WRAPPER TWO */



/* WRAPPER THREE */

.content-section-two .content-wrapper-element-three {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.content-section-two .content-wrapper-element-three .wrapper-element-texts .element-text-h3 h3 {
    font-size: 25px;
    font-weight: 400;
}

.content-section-two .content-wrapper-element-three .wrapper-element-texts .element-texts-paragraph {
    margin: 26px 0;
}

.content-section-two .content-wrapper-element-three .element-img {
    width: 100%;
}

.content-section-two .content-wrapper-element-three .element-img img {
    width: 400px;
}

/* END WRAPPER THREE */





/* BY XUAN DAI */

/* CSS CODE ADD */

/* COMMON */
.content-section-one {
    background-color: #c6b0e7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}

.content-section-one .content-wrapper-element-one {
    margin-right: 70px;
}

.content-section-one .content-wrapper-element-two {
    margin-left: 70px;
}
/* END COMMON */


/* WRAPPER ONE */
.content-section-one .content-wrapper-element-one  .wrapper-element-one .element-img {
    width: 100%;
    text-align: center;
}

.content-section-one .content-wrapper-element-one  .wrapper-element-one .element-img img {
    width: 250px;
    text-align: center;
}

.content-section-one .content-wrapper-element-one  .wrapper-element-two .element-text-h3 h3 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 22px;
    margin-bottom: 24px;
    text-align: center;
}

.content-section-one .content-wrapper-element-one  .wrapper-element-two p {
    text-align: center;
}
/* END WRAPPER ONE */


/* WRAPPER TWO */
.content-section-one .content-wrapper-element-two  .wrapper-element-one .element-img {
    width: 100%;
    text-align: center;
}

.content-section-one .content-wrapper-element-two  .wrapper-element-one .element-img img {
    width: 250px;
    text-align: center;
}

.content-section-one .content-wrapper-element-two  .wrapper-element-two .element-text-h3 h3 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 22px;
    margin-bottom: 24px;
    text-align: center;
}

.content-section-one .content-wrapper-element-two  .wrapper-element-two p {
    text-align: center;
}
/* END WRAPPER TWO */


/* END CSS CODE ADD */



/* END BY XUAN DAI */